strands-agents==1.50.2
strands-agents-evals==1.0.3
mcp==2.0.0
aiohttp>=3.14.3
uvicorn==0.52.0
boto3==1.43.59

# For testing, this module is installed from local files.
# Uncomment this line to build using the module from PyPi
# run-mcp-servers-with-aws-lambda >= 0.0.1
